<Settings>
  <!-- version 0.1 automatic database configuration is limited to one database -->

  <Database provider="sqlite" name="default">

    <!-- version 0.1 focuses on Sqlite -->

    <Sqlite name = "default"
            fileName="jobs.db"
            busyTimeoutMs="5000"
            foreignKeys="on"
            journalMode="wal"
            synchronous="normal" />

    <!-- second database to test database selection per provider and name -->

    <Sqlite name = "test"
            fileName="test.db"
            busyTimeoutMs="5000"
            foreignKeys="on"
            journalMode="wal"
            synchronous="normal" />
  </Database>

</Settings>
