<Settings>
  <!-- version 0.1 automatic database configuration is limited to one database -->

  <Database provider="sqlite" name="default">

    <!-- version 0.1 focuses on Sqlite -->

    <Sqlite name = "default"
            fileName="jobs.db"
            busyTimeoutMs="5000"
            foreignKeys="on"
            journalMode="wal"
            synchronous="normal" />

    <!-- a second database to validate database selection per provider and name -->

    <Sqlite name = "test"
            fileName="test.db"
            busyTimeoutMs="5000"
            foreignKeys="on"
            journalMode="wal"
            synchronous="normal" />
  </Database>

  <Adzuna>
    <App id="a65aee41" key="fb254509e73fd0eddb617e68f9fea88a" />
    <Url>https://api.adzuna.com/v1/api/jobs/gb/search/1</Url>
  </Adzuna>

</Settings>
